/* ==== 
 --------- (4.5) footer styles start ---------
 ==== */

.footer {
  background-color: #18045B !important;
  padding: 3rem 0 3rem;
  &-heading__link h3{
    color: #fff;
    font-weight: 500px;
    color: #fff;
    font-weight: 500px;

  }

}
h3.footer-heading-link{
  color: #fff;
    font-weight: 500px;
}

/* ==== 
 --------- (4.5) footer styles end ---------
 ==== */
